*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #777;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.calc {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
    background-color: #111;
}

.screen-container {
    grid-column: span 4;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen {

    padding: 1rem;
    word-wrap: break-word;
    color: #eee;
    font-size: 2.2rem;
}

.calc > button {
    cursor: pointer;
    font-size: 1.6rem;
}

.double {
    grid-column: span 2;
}

h3 {
    margin-left: 3rem;
}

ul {
    margin: 1rem 3rem;
}